<!-- <form
  class="form-group container"
  (ngSubmit)="agregar()"
  #miFormulario="ngForm"
>
  <div
    *ngIf="miFormulario.invalid && miFormulario.touched"
    class="alert alert-danger d-flex align-items-center"
    role="alert"
  >
    <i class="bi bi-shield-fill-x"></i>
    <div>Error : Formulario Invalido</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="proyecto">Proyecto</label>
    <input
      autocomplete="off"
      type="text"
      id="proyecto"
      name="proyecto"
      class="form-control"
      placeholder="Nombre del Proyecto"
      [(ngModel)]="initialState.proyecto"
      minlength="3"
      maxlength="20"
      required
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="horas">Horas</label>
    <input
      id="horas"
      name="horas"
      type="number"
      class="form-control"
      placeholder="Selecciona las horas para completar  "
      [(ngModel)]="initialState.horas"
      required
      min="0"
      max="20"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="tecnologia">Tecnologias</label>
    <div class="row">
      <div class="col-8">
        <input
          autocomplete="off"
          id="tecnologia"
          name="tecnologia"
          type="text"
          class="form-control"
          placeholder="Selecciona las Tecnologias"
          [(ngModel)]="initialState.tecnologia"
          minlength="3"
          maxlength="20"
        />
      </div>
      <div class="col-4">
        <button (click)="agregarTec()" type="button" class="btn btn-success">
          Agregar
        </button>
      </div>
      <div class="col-12 my-2">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" *ngFor="let tecnologia of tecnologias">
            {{ tecnologia }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary w-100">
      Agregar proyecto
    </button>
  </div>
</form>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Proyectos</th>
        <th scope="col">Horas</th>
        <th scope="col">Tecnologias</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proyecto of proyectos">
        <th scope="row">{{proyecto.proyecto}</th>
        <td>{{ proyecto.horas }}</td>
        <td>{{proyecto.tecnologias}</td>
      </tr>
    </tbody>
  </table>
</div>
 -->
